.coinFlipCoin {
  transform-style: preserve-3d;
}
.coinFlipCoin {
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .coinFlipCoin div {
  backface-visibility: hidden;
  position: absolute; 
} */

.coin {
  /* width: 200px;
  height: 200px; */
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease-in-out;
  margin: 0 auto;
  backface-visibility: hidden;
}

.result {
  margin-top: 20px;
  font-size: 24px;
  color: #333;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  letter-spacing: 2px;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.coin.flip {
  animation: flip 1s infinite cubic-bezier(0.4, 2.5, 0.6, 0.5);
}

.coin img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: rotateY(0deg);
}
