@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: #15171e;
  --text-color: white;
  --app-height: 100vh;
  --header-height: 60px;
  --bottom-height: 60px;
  --chat-width: 320px;
  --sidebar-width: 280px;
  --side-height-m: calc(
    var(--app-height) - (var(--header-height) + var(--bottom-height))
  );
  --side-height-d: calc(var(--app-height) - (var(--header-height)));
}

* {
  box-sizing: border-box !important;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  /* @apply font-hubot; */
}

*::-webkit-scrollbar {
  width: 0.3rem;
  height: 0.3rem;
}

*::-webkit-scrollbar-thumb {
  @apply border-2 border-dark-800 bg-gray-800 rounded-2xl;
}
*::-webkit-scrollbar-track {
  @apply rounded-2xl w-2 bg-dark-850;
}

*::-webkit-scrollbar-thumb:hover {
  @apply rounded-2xl bg-gray-400;
}
*::-webkit-scrollbar-thumb:active {
  @apply bg-[#9A33FF] rounded-2xl;
}

a {
  font-weight: 500;
  color: #646cff;

  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.button {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 0.5rem 1rem;
  transition: all 0.1s ease 0s;
  color: white;
  background-color: rgb(68 131 235);
  box-shadow:
    rgba(255, 255, 255, 0.2) 0px 1px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -3px 0px inset,
    rgb(83, 97, 180) 0px 0px 12px inset;
  border: transparent;
  text-decoration: none;
  font-weight: 600;
  font-family: inherit;
  text-shadow: rgba(0, 0, 0, 0.3) 0.5px 1px 2px;
  cursor: pointer;
  user-select: none;
}

.button:hover:enabled {
  filter: brightness(1.15);
}

table,
td,
tr {
  /* @apply px-4 py-2; */
}

thead th {
  @apply sticky top-0 left-0;
}

.table th,
tr {
  @apply py-3;
}

.Toastify__toast {
  @apply !bg-dark-650 !text-white !fill-white;
}

.Toastify__toast > button > svg {
  fill: white;
}
